<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{orfanato.name}} | Happy</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

    <link rel="icon" href="/imagens/logo-icon.png">
    
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/page-orfanato.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/botoes.css">
    <link rel="stylesheet" href="/css/map.css">
    
</head>
<body>
    <div id="page-orfanato">
        <aside class="animate_right sidebar">
            <img src="/imagens/Local.svg" alt="Happy">
            <footer>
                <button onclick="history.back()">
                    <img src="/imagens/Arrow-back.svg" alt="voltar">
                </button>
            </footer>
        </aside>

        <main class="animate_appear with-sidebar">
            <div class="orfanato-detalhes">
                <img src="{{orfanato.firstImage}}" alt="{{orfanato.name}}">
            
                <div class="imagens">
                    {{#each orfanato.images}}
                        <button onclick="selectImage(event)" class="active" type="button">
                            <img src="{{this}}" alt="{{orfanato.name}}">
                        </button>
                   {{/each}}
                </div>
            
                <div class="orfanato-detalhes-content">
                    <h1>{{orfanato.name}}</h1>
                    <p>{{orfanato.about}}</p>
                    
                    <div class="mapa-container">
                        <div id="mapid"></div>
                        <span 
                            data-lat="{{orfanato.lat}}" 
                            data-lng="{{orfanato.lng}}"
                        ></span>
                        <footer>
                            <a target="_blank" 
                            href="https://maps.google.com/mobile?q={{orfanato.lat}},{{orfanato.lng}}&z=15">Ver rotas no Google Maps</a>
                        </footer>
                    </div>

                    <hr>

                    <h2>Instruções para visita</h2>
                    <p>{{orfanato.instructions}}</p>

                    <div class="abrir-detalhes">
                        <div class="horario">
                            <img src="/imagens/Clock.svg" alt="horario">
                            {{orfanato.opening_hours}}
                        </div>

                        {{#if orfanato.opening_on_weekends}}
                            <div class="fim-de-semana open">   
                                <img src="/imagens/Alerta.svg" alt="info">
                                Atendemos fim de semana
                            </div>
                        {{else}}
                            <div class="fim-de-semana closed">
                                <img src="/imagens/alerta-red.svg" alt="info">
                                Não atendemos fim de semana
                            </div>
                        {{/if}}
                    </div>

                    <a  href="https://api.whatsapp.com/send?l=pt_Br&phone={{orfanato.whatsapp}}" class="botao-primario" type="button">
                        <img src="/imagens/Whatsapp.svg" alt="Whatsapp">
                        Entrar em contato
                    </a>
                </div>
            </div>
        </main>
    </div>

    <script src="/scripts/pageOrfanato.js"></script>

</body>
</html>